*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.card img{
    height: 57%;
    border-radius: 10px;
}

.card h2{
    font-weight: bold;
    font-size: 1.5rem;
}

.card p{
    font-size: 1.1em;
}